#sidebar {
    width: 600px;
    float: right;
}

.timebox {
    width: 100%;
    height: 40px;
    background: white;
    border:1px solid gray;
}

.weekday {
    width: 12%;
    float: left;
    border:1px solid gray;
}

.timeslot {
    background: #DDD !important;
}

#timeslot {
    font-weight: bold;
    background: #DDD !important;
    text-align: center;
}

.th {
    background: #DDD !important;
    height: 20px;
    font-weight: bold;
    text-align: center;
    
}

/* ------------------------------- TABS ----------------------------- */
.tabs {
    width:100%;
    display:block;
    border-left: 2px;
    background: #DDD;
}

.extra {
    width: auto;
    float: left;
}

    /* --------------- Tab Links --------------- */
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 3px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4C4C4C;
            transition:all linear 0.15s;
        }

    li.active a, li.active a:hover {
        background:#7FB5DA;  /* tab background */
        color: #4C4C4C;      /* text color */
    }

    /* ------------- Content of Tabs ------------- */
    .tab-content {
        padding:15px;
        height: 100%;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:white;
    }

        .tab {
            display:none;
        }

        .tab-active {
            display:block;
        }
